body{
    margin: 0 auto;
    padding: 0;
    background: #dedede;
    font-family: poppins, sans-serif;
  
}

ul {
    position: absolute;
    top: 25%;
    margin-right: 10px;
    transform: translate(15%, 50%);
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    display : block;
    text-align: center;
    margin: 10px 10px;
    padding: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(red, green, blue, alpha) (0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: -.5s;
    text-decoration: none;
}

ul li a .sm
{
width: 100%;
height: 100%;
display: block;
background: linear-gradient(0deg, #fff, #ddd);
border-radius: 50%;
line-height: calc(90px - 12px);
font-size: 40px;
color: #262626;
transition: .5s;
}

ul li a:hover{
    box-shadow: 0 2px 5px rgba(red, green, blue, alpha) (0, 0, 0, 0.3);
}
ul li:nth-child(1) a:hover .fa
{
    color: #00f;
}
ul li:nth-child(2) a:hover .fa
{
    color: #365998;
}
ul li:nth-child(3) a:hover .fa
{
    color: #00f;
}
ul li:nth-child(4) a:hover .fa
{
    color: #00f;
}
ul li:nth-child(5) a:hover .fa
{
    color: #00f;
}
ul li:nth-child(6) a:hover .fa
{
    color: #00f;
}
ul li:nth-child(7) a:hover .fa
{
    color: #00f;
}


.heading {
    text-align: center;
    font-size: 60px;
    color: #fff;
    box-shadow: #dedede;
    margin-right: 20px;
}